.item{
    img{
        width: 100%;
    }
    .item__info{
        width: 100%;
        text-align: center;
    }
    button{
        height: 50%;
    }
    .slider{
        img{
            padding: 0 0.2rem 0 0.2rem;
        }
    }
}

